* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
  margin: 20px 0px;
}

td, th {
  border: solid 1px black;
  padding: 4px;
}

th {
  font-weight: bold;
}

table {
  border-collapse: collapse;
}

.hidden {
  display: none;
}

@keyframes obnoxious {
  0% {
    color: #ff0000;
    transform: rotateZ(10deg);
  }  
  25% {transform: rotateZ(-10deg);}
  33% {color: #0000ff;}
  50% {transform: rotateZ(10deg);}
  66% {color: #00aa00;}
  75% {transform: rotateZ(-10deg);}
  100% {
    color: #ff0000;
    transform: rotateZ(10deg);
  }
}

#popular {
  animation: obnoxious infinite 2s;
  width: auto;
  transform-origin: 120px;
}